/* CSS */

:root {
    color-scheme: light dark;
    --fg: light-dark(#333, #fff);
    --bg: light-dark(#fff, #333);
    --accent: light-dark(#1f4ed8, #1f4ed8);
    --accent-text: light-dark(#fff, #fff);
}

/* imports de Geist fonts van gemeenteiconen.nl's huiststijl */
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color-scheme: light;

    font-family: 'Geist', sans-serif;

    color: var(--fg);
    background: var(--bg);

    margin: 1em 10em;

    display: grid;
}

h1 {
    span {
        color: var(--accent);
    }
}

footer {
    color: var(--accent-text);
    background: var(--accent);

    a {
        color: var(--accent-text);
    }
}

.recent-grid {
    list-style: none;
    padding-left: 0em;
}
