/* imports de Geist fonts van gemeenteiconen.nl's huiststijl */
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

*::before,
*,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --fg: light-dark(#333, #fff);
    --bg: light-dark(#fff, #333);
    --accent: light-dark(#1f4ed8, #1f4ed8);
    --accent-tekst: light-dark(#fff, #fff);
    --witruimte-s: 1em;
}

body {
    /* tijdelijk alleen light ondersteuning, want dark-mode toggle werkt niet. voor volgende sprint. */
    color-scheme: light;
    height: 100svh;
    margin: 0;

    /* typografie */
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--fg);
    background: var(--bg);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }
    h1 {
        font-size: clamp(2.5rem, -0.8333rem + 16.6667vw, 3rem); /* Sanne */
        span {
            color: var(--accent);
        }
    }

    p {
        max-width: 32em;
        text-wrap: pretty;
    }
}

header {
    margin: 1em;
    background-color: var(--bg);
    z-index: 1;
    position: sticky;
    top: 0px;

    line-height: 1;

    display: flex;
    justify-content: space-between;
    padding: 0 clamp(0rem, -3.5556rem + 17.7778vw, 2rem); /* Sanne/utopia.fyi */
    align-items: center;
    gap: clamp(0.5rem, -0.3889rem + 4.4444vw, 1rem); /* Sanne/utopia.fyi */
    padding-bottom: 0.125em;
    border-bottom: 1px solid var(--fg);

    .logo img {
        width: clamp(8rem, -2.6667rem + 53.3333vw, 14rem); /* Sanne/utopia.fyi */
        height: auto;
        display: block;
    }

    nav > a {
        display: none;
        @media (min-width: 600px) {
            display: inherit;
        }
    }

    nav > a,
    nav > a:visited,
    > a:nth-of-type(2) {
        color: var(--fg);
        text-decoration: none;
        padding: 0.25em;
        &:hover {
            color: var(--accent-tekst);
            background-color: var(--accent);
            border-radius: 10%;
        }
    }
    button {
        flex-basis: 5%;
        background: none;
        border: none;
        font-size: 2rem;
        &:hover {
            color: var(--bg);
            background: var(--accent);
            border-radius: 10%;
        }
    }
    /* github */
    > a:nth-of-type(2) {
        img {
            width: 1.5em;
        }
        &::after {
            @media (min-width: 600px) {
                content: 'Github';
            }
        }
    }

    nav {
        margin-left: auto;
        display: flex;
        gap: var(--witruimte-s);
    }
}

main {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .hero {
        order: -1;
        width: 100%;
        border-bottom: solid 1px var(--accent);

        label {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: var(--witruimte-s);
            padding: 2em 1em;
            border-top: var(--fg) 1px solid;
            img {
                height: 5vh;
            }
            input {
                display: flex;
                flex-grow: 1;
                border: var(--accent) 2px solid;
                font-size: 1em;
                padding: 1em;
                margin-bottom: 5em;
            }
        }
    }
    section {
        max-width: 90ch;
        padding-bottom: 3em;
    }

    a,
    a:visited {
        color: var(--accent);
        text-decoration: none;
        &:hover {
            text-decoration-line: underline;
        }
    }

    div {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--witruimte-s);

        strong {
            font-size: 2em;
        }

        @media (width > 400px) {
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            text-align: center;

            strong {
                grid-row-start: 1;
            }
            p {
                grid-row-start: 2;
            }
        }
    }

    .recent {
        width: 100%;
    }

    .recent-grid {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(auto-fit, 100px); /* Sanne */
        align-items: start;
        gap: 4em;
        list-style: none;
        padding-left: 0em;
        width: 100%;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            img {
                width: 100px;
            }
        }

        /* @media (min-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (min-width: 1200px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (min-width: 1500px) {
            grid-template-columns: repeat(6, 1fr);
        } */
    }

    .illustraties {
        justify-self: center;
        article {
            width: fit-content;
            background: var(--bg);
            padding: 1em;

            img {
                /* height: 25vh; */
                aspect-ratio: 4 / 3;
                object-fit: cover;

                width: min(100%, 25em);
            }
        }
    }

    .gebruik {
        display: grid;
        gap: var(--witruimte-s);

        @media (width > 44em) {
            grid-template-columns: 1fr 1fr 1fr;

            grid-template-areas:
                'header header header'
                'section-1 section-2 section-3';

            h2 {
                grid-area: header;
            }

            > section:nth-of-type(1) {
                grid-area: section-1;
            }
            > section:nth-of-type(2) {
                grid-area: section-2;
            }
            > section:nth-of-type(3) {
                grid-area: section-3;
            }
        }

        section > img {
            width: 5vh;
        }
    }
}

footer {
    color: var(--accent-tekst);
    background: var(--accent);

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: start;

    width: 100vw;
    padding: 0em 3em;

    section {
        max-width: 90ch;
    }
    a {
        color: var(--accent-tekst);
    }
    /* @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0em;
    } */
}
