/*

We gebruiken de custom property naming system in het NL Design System.


*/

/* imports de Geist fonts van gemeenteiconen.nl's huiststijl */
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

*::before,
*,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --fg: light-dark(#333, #fff);
    --bg: light-dark(#fff, #333);
    --accent: light-dark(#1f4ed8, #1f4ed8);
    --accent-text: light-dark(#fff, #fff);
}

body {
    /* tijdelijk alleen light ondersteuning, want dark-mode toggle werkt niet. voor volgende sprint. */
    color-scheme: light;
    height: 100svh;
    margin: 0 auto;

    /* typografie */
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--fg);
    background: var(--bg);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }
    h1 {
        font-size: 3rem;
        span {
            color: var(--accent);
        }
    }

    @media (min-width: 600px) {
        footer {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 0em;
        }
    }
}

header {
    background-color: var(--bg);
    z-index: 1;
    position: sticky;
    top: 0;

    line-height: 1;

    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    gap: 1em;
    padding-bottom: 0.125em;
    border-bottom: 1px solid var(--fg);

    nav > a,
    nav > a:visited,
    > a:nth-of-type(2) {
        color: var(--fg);
        text-decoration: none;
        padding: 0.25em;
        &:hover {
            color: var(--accent-text);
            background-color: var(--accent);
            border-radius: 10%;
        }
    }
    button {
        flex-basis: 5%;
        background: none;
        border: none;
        font-size: 2rem;
        &:hover {
            color: var(--bg);
            background: var(--accent);
            border-radius: 10%;
        }
    }
    /* github */
    > a:nth-of-type(2) img {
        width: 1.5em;
    }
    nav {
        margin-left: auto;
        display: flex;
        gap: 1em;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .hero {
        order: -1;
        width: 100%;
        border-bottom: solid 1px var(--accent);
    }
    section {
        max-width: 90ch;
        padding-bottom: 3em;
    }

    a,
    a:visited {
        color: var(--accent);
        text-decoration: none;
        &:hover {
            text-decoration-line: underline;
        }
    }

    label {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 1em;
        padding: 2em 1em;
        border-top: var(--fg) 1px solid;

        input {
            display: flex;
            flex-grow: 1;
            border: var(--accent) 2px solid;
            font-size: 1em;
            padding: 1em;
            margin-bottom: 5em;
        }
    }

    div {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;

        strong {
            font-size: 2em;
            grid-row-start: 1;
        }
        p {
            grid-row-start: 2;
        }
    }

    .illustraties {
        article {
            width: fit-content;
            background: var(--bg);
            padding: 1em;
        }
    }

    .gebruik {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'header header header'
            'section-1 section-2 section-3';
        gap: 1em;
        h2 {
            grid-area: header;
        }
        > section:nth-of-type(1) {
            grid-area: section-1;
        }
        > section:nth-of-type(2) {
            grid-area: section-2;
        }
        > section:nth-of-type(3) {
            grid-area: section-3;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--accent-text);
    background: var(--accent);
    a {
        color: var(--accent-text);
    }
}

.recent-grid {
    list-style: none;
    padding-left: 0em;
}
